{% extends 'user/base_detail_list.html' %}
{% block title %}
    商品详情
{% endblock %}
{% block main_content %}
    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">新鲜水果</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>
    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img width="350px;" height="350px;" src="/static/{{ goods.goods_image }}">
        </div>

        <div class="goods_detail_list fr">
            <h3>{{ goods.goods_name }}</h3>
            <p>{{ goods.goods_description }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em id="goods_price">{{ goods.goods_price }}</em></span>
                <span class="show_unit">单  位：500g</span>
            </div>
            <form action="{% url 'user:place_order' %}" method="post">
                {% csrf_token %}
                <div class="goods_num clearfix">
                    <div class="num_name fl">数 量：</div>
                    <div class="num_add fl">
                        <input type="text" id="goods_num" class="num_show fl" name="count" value="1">
                        <input type="hidden" id="goods_id" class="fl" name="goods_id" value="{{ goods.id }}">
                        <a id="add" href="javascript:;" onclick="change_num('add')" class="add fr">+</a>
                        <a id="minus" href="javascript:;" onclick="change_num('minus')" class="minus fr">-</a>
                    </div>
                </div>
                <div class="total">总价：<em id="total">{{ goods.goods_price }}</em><em>元</em></div>
                <div class="operate_btn">
                    {#                    <a href="javascript:;" class="buy_btn">立即购买</a>#}
                    <input type="submit" class="buy_btn" value="立即购买">
                    <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
                </div>
            </form>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    <li>
                        <a href="#"><img src="/static/user/images/goods/goods001.jpg"></a>
                        <h4><a href="#">进口柠檬</a></h4>
                        <div class="prize">￥3.90</div>
                    </li>
                    <li>
                        <a href="#"><img src="/static/user/images/goods/goods002.jpg"></a>
                        <h4><a href="#">玫瑰香葡萄</a></h4>
                        <div class="prize">￥16.80</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>

            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>草莓采摘园位于北京大兴区 庞各庄镇四各庄村
                        ，每年1月-6月面向北京以及周围城市提供新鲜草莓采摘和精品礼盒装草莓，草莓品种多样丰富，个大香甜。所有草莓均严格按照有机标准培育，不使用任何化肥和农药。草莓在采摘期间免洗可以直接食用。欢迎喜欢草莓的市民前来采摘，也欢迎各大单位选购精品有机草莓礼盒，有机草莓礼盒是亲朋馈赠、福利送礼的最佳选择。
                    </dd>
                </dl>
            </div>

        </div>
    </div>

{% endblock %}
{% block bottom %}
    <div class="add_jump"></div>
{% endblock %}
{% block bottomfiles %}
    <script type="text/javascript" src="/static/user/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">

        function change_num(ty) {
            var num_value = $("#goods_num").val();
            if (ty == 'add') {
                $("#goods_num").val(++num_value);
            } else {
                if (num_value <= 1) {
                    $("#goods_num").val(1)
                } else {
                    $("#goods_num").val(--num_value)
                }
            }

            var price = $("#goods_price").text();
            var total_price = price * num_value;
            $("#total").text(parseFloat(total_price).toFixed(2))
        }

        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;

        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});
        $('#add_cart').click(function () {
            $(".add_jump").stop().animate({
                    'left': $to_y + 7,
                    'top': $to_x + 7
                },
                "fast", function () {
                    $(".add_jump").fadeOut('fast', function () {
                        $('#show_count').html(2);
                    });

                });
        });

        $("#add_cart").click(
            function () {
                var count = $("#goods_num").val();
                var goods_id = $("#goods_id").val();
                var send_data = {
                    "count": count,
                    "goods_id": goods_id,
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                };
                console.log(send_data);
                var url = '/user/add_cart/';
                $.ajax(
                    {
                        url: url,
                        type: 'post',
                        data: send_data,
                        success: function (data) {
                            console.log(data)
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    }
                )
            }
        )


    </script>
{% endblock %}