{% extends 'store/base.html' %}
{% block title %}
    商品列表
{% endblock %}
{% block style %}
    <link href="/static/store/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"
          xmlns:v-bind="http://www.w3.org/1999/xhtml">
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        {#    <a class="btn btn-danger" href="#">下架</a>#}
        <a class="btn btn-warning" href="{% url 'store:add_goods' %}">添加商品</a>
        <h1></h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    {% verbatim myblock %}
                        <div id="goods">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>商品名称</th>
                                    <th>商品价格</th>
                                    <th>商品数量</th>
                                    <th>出厂日期</th>
                                    <th>保质期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="goods in goods_list">
                                    <td><a href="/store/goods_detail/{{ goods.id }}">{{ goods.goods_name }}</a>
                                    </td>
                                    <td>
                                        <input type="text" v-bind:value="goods.goods_price">
                                    </td>
                                    <td>{{ goods.goods_number }}</td>
                                    <td>{{ goods.goods_date|date:'Y-m-d' }}</td>
                                    <td>{{ goods.goods_safeDate }}</td>
                                    <td>
                                        <a class="btn btn-info" href="/store/goods_state/down/?id={{ goods.id }}">下架</a>
                                        <!--
                          {% ifequal state 'up' %}
                                  <a class="btn btn-info" href="/store/goods_state/down/?id={{ goods.id }}">下架</a>
                              {% else %}
                                  <a class="btn btn-info" href="/store/goods_state/up/?id={{ goods.id }}">上架</a>
                              {% endifequal %}
                                  <a class="btn btn-danger" href="/store/goods_state/del/?id={{ goods.id }}">删除</a>
                          -->

                                    </td>
                                </tr>
                                </tbody>

                            </table>
                            <div class="">
                                <ul class="pagination">
                                    <li class="paginate_button page-item" v-for="p in page_range">
                                        <a href="#" v-on:click="get_page_data(p)" data-dt-idx="1" tabindex="0"
                                           class="page-link">{{ p }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endverbatim myblock %}
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}
{% block script %}
    <!-- Page level plugins -->
    <script src="/static/store/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/store/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/static/store/js/vue.min.js"></script>
    <script src="/static/store/js/vue-resource.js"></script>
    <script>
        Vue.use(VueResource);
        var vue = new Vue(
            {
                el: "#goods",
                data: {
                    goods_list: [],
                    page_range: []
                },
                created: function () {
                    this.$http.get("/API/goods/").then(
                        function (data) {
                            this.goods_list = data.data.results;
                            console.log(data.data);
                            var page_number = Math.ceil(data.data.count / 10);
                            {#var page_range = [...new Array(page_number).keys()];#}
                            const range = (s, e) => [...Array(e - s + 1).keys()].map((r, i) => i + s);
                            var page_range = range(1, page_number);
                            this.page_range = page_range
                        },
                        function (error) {
                            console.log(error)
                        }
                    )
                },
                methods: {
                    get_page_data: function (page) {
                        this.$http.get("/API/goods/?page=" + page).then(
                            function (data) {
                                this.goods_list = data.data.results;
                                console.log(data.data);
                                var page_number = Math.ceil(data.data.count / 10);
                                const range = (s, e) => [...Array(e - s + 1).keys()].map((r, i) => i + s);
                                var page_range = range(1, page_number);
                                this.page_range = page_range
                            },
                            function (error) {
                                console.log(error)
                            }
                        )
                    }
                }
            }
        )
    </script>

{% endblock %}
