{% extends 'store/base.html' %}
{% block title %}
    商品类型列表
{% endblock %}
{% block label %}
    <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">添加商品类型</button>
{% endblock %}
{% block content %}
    <div class="container-fluid ">
    <div class="card shadow mb-4">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th>商品类型</th>
                <th>商品类型描述</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for goods_type in goods_type_list %}
                <tr>
                    <td >{{ goods_type.name }}</td>
                    <td >{{ goods_type.description }}</td>
                    <td >
                        <a class="btn btn-danger" href="{% url 'store:delete_goods_type' goods_type.id %}">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% for p in page_range %}
                <li class="paginate_button page-item">
                    <a class="page-link" href="?keywords={{ keywords }}&page_num={{ p }}">{{ p }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    <!--模态框部分-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">添加类型</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="name"
                                       placeholder="类型名称">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="description"
                                       placeholder="类型描述">
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control form-control-user" name="logo"
                                       placeholder="类型图片">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}