{% extends 'store/base.html' %}
{% block title %}
    {{ goods.goods_name }}商品修改
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <table class="table">
                <tr>
                    <td rowspan="3">
                        <img style="width: 200px;height: 200px;" src="/static/{{ goods.goods_image }}" alt="商品">
                        <input class="form-control form-control-user" type="file" name="goods_image">
                    </td>
                    <th>
                        商品名称
                    </th>
                    <td colspan="3">
                        <input type="text" class="form-control form-control-user" name="goods_name" value="{{ goods.goods_name }}">
                    </td>
                </tr>
                <tr>
                    <th>商品价格</th>
                    <td>
                        <input type="text" class="form-control form-control-user" name="goods_price" value="{{ goods.goods_price }}">
                    </td>
                    <th>商品库存</th>
                    <td>
                        <input type="text" class="form-control form-control-user" name="goods_number" value="{{ goods.goods_number }}">
                    </td>
                </tr>

                <tr>
                    <th>生产日期</th>
                    <td>
                        <input type="text" class="form-control form-control-user" name="goods_date" value="{{ goods.goods_date|date:'Y-m-d' }}">
                    </td>
                    <th>保质期(月)</th>
                    <td>
                        <input type="text" class="form-control form-control-user" name="goods_safeDate" value="{{ goods.goods_safeDate }}">
                    </td>
                </tr>
                <tr>
                    <th colspan="5" style="text-align: center">商品描述</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <textarea class="form-control form-control-user" name="goods_description" cols="30" rows="10">
                            {{ goods.goods_description|safe }}
                        </textarea>

                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <input class="btn btn-primary btn-block" type="submit" value="保存修改">
                    </td>
                </tr>
            </table>
        </form>
        <script src="/static/ckeditor/ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('goods_description',{uiColor:"#9ab8f3"})
        </script>
    </div>
{% endblock %}